<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>衣類検索</h3>
    <form th:action="@{/clothes/search}">
            <input type="radio" name="gender" value=0 th:checked="${gender == 0 or gender == null}">Man
            <br>
            <input type="radio" name="gender" value=1 th:checked="${gender == 1}">Woman
            <br>
            <select name="color">
                <option value="赤" th:selected="${color == '赤'}">赤</option>
                <option value="青" th:selected="${color == '青'}">青</option>
                <option value="白" th:selected="${color == '白'}">白</option>
                <option value="黄" th:selected="${color == '黄'}">黄</option>
            </select>
            <br>
            <button>検索</button>
    </form>

    <br>
    <div th:if="${gender != null} and ${clotheList == null or #lists.isEmpty(clotheList)}">該当するものが見つかりません</div>
    <div th:each="clothe:${clotheList}">
        <table border="1">
            <tr>
                <th>ジャンル</th>
                <td th:text="${clothe.genre}"></td>
            </tr>
            <tr>
                <th>サイズ</th>
                <td th:text="${clothe.size}"></td>
            </tr>
            <tr>
                <th>価格</th>
                <td th:text="${clothe.price}"></td>
            </tr>
        </table>
        <br>
    </div>
</body>

</html>